<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!--Connection-->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="connection.url">jdbc:mysql://us-cdbr-iron-east-03.cleardb.net/heroku_9e2d90d0f27f20a?serverTimezone=UTC</property>
		<property name="connection.username">b19b2cc31129f4</property>
		<property name="connection.password">d48f5b1a</property>
		<property name="hbm2ddl.auto">update</property>

		<!--Debug-->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<!--Mapping-->
    		<mapping class="model.BaseEntity"/>
        	<mapping class="model.Competence"/>
        	<mapping class="model.Country"/>
        	<mapping class="model.Expert"/>
        	<mapping class="model.Junior"/>
        	<mapping class="model.NamedEntity"/>
        	<mapping class="model.Sponsor"/>
        	<mapping class="model.User"/>
	</session-factory>
</hibernate-configuration>
